* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Source Sans 3", sans-serif;
    font-size: 1.4rem;
    color: #252525;
    text-align: center;
}

/* == typography == */

.bold {
    font-weight: 800;
}

.lg-text {
    font-size: 1.5rem;
}

.comments {
    text-align: start;
}

.comments span {
    font-size: 1.4rem;
}

/* == images == */

.logo {
    width: 100%;
    max-width: 250px; 
}

.avatar {
   width: 70px;
   border-radius: 50%;
   margin: 0 7px; 
}

.post-img {
    max-width: 100%;
}

.button {
    background-color: white;
    border: none;
    text-decoration: none;
}

.icon {
    width: 3rem;
    height: auto;
    margin-right: 25px;
}

.icon:hover,
.icon:focus {
    cursor: pointer;
    opacity: 0.4;
}

/* == layout == */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px #C6C6C6;
}

.post {
   border-bottom: solid 2px #C6C6C6; 
}

.post-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name-location p {
    line-height: 1.2;
}

.name-location {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.post-interactions {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    margin-bottom: 10px;
}

.icons-div {
    display: flex;
}

